.about-me-container {
  justify-content: center;
  margin-top: 5%;
  width: 80%;
}

.contact-container {
  justify-content: center;
  margin-top: 5%;
}

body {
  background-image: url('../images/background-image.png');
}